<div fxFill class="user-list">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>{{ "Name" | titlecase }}</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element; let index = index">
        <app-button
          (onclick)="onDelete(element.id)"
          [type]="'icon'"
          [iconTemplate]="menuIcon"
        >
          <ng-template #menuIcon>
            <app-icon [name]="'delete'" [theme]="'warn'"></app-icon
          ></ng-template>
        </app-button>
      </td>
    </ng-container>
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>edit</th>
      <td mat-cell *matCellDef="let element; let index = index">
        <app-button
          (onclick)="editUser(element.id)"
          [type]="'icon'"
          [iconTemplate]="menuIcon"
        >
          <ng-template #menuIcon>
            <app-icon [name]="'edit'" [theme]="'warn'"></app-icon
          ></ng-template>
        </app-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<ng-template #dialog>
  <div mat-dialog-content>
    <p>Are you sure want to delete?</p>
  </div>
  <div mat-dialog-actions class="flex-end">
    <button mat-button [mat-dialog-close]>No</button>
    <button mat-button [mat-dialog-close]="'yes'">Yes</button>
  </div>
</ng-template>
