<mat-drawer-container fxFill autosize>
  <mat-drawer #drawer [opened]="opened" mode="side">
    <div class="sidenav">
      <div fxLayout="row" fxLayoutAlign="end center">
        <span fxFlex></span>
        <app-icon class="logo" [name]="'language'"></app-icon>
        <span fxFlex></span>
        <app-button
          (onclick)="drawer.toggle()"
          [type]="'icon'"
          [iconTemplate]="menuIcons"
        >
          <ng-template #menuIcons>
            <app-icon [name]="'close'"></app-icon
          ></ng-template>
        </app-button>
      </div>

      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option
          *ngFor="let shoe of typesOfShoes"
          [value]="shoe"
          [routerLink]="shoe.route"
          (click)="drawer.toggle()"
        >
          {{ shoe.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
  <div fxFill class="page">
    <mat-toolbar>
      <app-button
        (click)="drawer.toggle()"
        [type]="'icon'"
        [iconTemplate]="menuIcon"
      >
        <ng-template #menuIcon>
          <app-icon [name]="'menu'"></app-icon
        ></ng-template>
      </app-button>
      <span>Welcome to app World</span>
    </mat-toolbar>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
