<mat-drawer-container fxFill autosize>
  <mat-drawer #drawer [opened]="true" mode="side">
    <div class="sidenav">
      <div class="logo">
        <app-icon [name]="'language'"></app-icon>
      </div>
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option
          *ngFor="let shoe of typesOfShoes"
          [value]="shoe"
          [routerLink]="shoe.route"
        >
          {{ shoe.name }}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-drawer>
  <div fxFill class="page">
    <mat-toolbar>
      <app-button
        (click)="drawer.toggle()"
        [type]="'icon'"
        [iconTemplate]="menuIcon"
      >
        <ng-template #menuIcon>
          <app-icon [name]="'menu'"></app-icon
        ></ng-template>
      </app-button>
      <span>Welcome to app World</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
