@import "./../../../scss/mixin";
.user-mgt {
  padding-top: 1em;
  height: 100%;
  width: 100%;
  &__page {
    background-color: #f5f5f5;
    padding: 1em;
  }

  &__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 15em;
    margin-right: 1em;
    // margin: 0 1em;
    border: 1px solid gray;
    @include respond(phone) {
      margin: 1em auto;
    }
  }
  &__info {
    background: #f5f5f5;
    width: 100%;
    @include respond(phone) {
      margin-bottom: 1em;
    }
  }
  &__address {
    margin-right: 1em;
    @include respond(phone) {
      margin-bottom: 1em;
      margin-right: 0em;
    }
  }
  &__company {
    @include respond(phone) {
      margin-bottom: 1em;
    }
  }
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
  margin-bottom: 1em;
}
