// grid
mat-grid-tile {
  background: lightblue;
}

// table
table {
  width: 100%;
}

// card
.mat-card-header-text {
  margin: 0 !important;
}
mat-card-content {
  padding-top: 16px;
}

// mat field
.mat-form-field {
  width: 100% !important;
}

// sidenav
.mat-drawer {
  background-color: #ffffff !important;
}
