// grid
mat-grid-tile {
  background: lightblue;
}

// table
table {
  width: 100%;
}

// card
.mat-card-header-text {
  margin: 0 !important;
}
mat-card-content {
  padding-top: 16px;
}

// mat field
.mat-form-field {
  width: 100% !important;
}

// sidenav
.mat-drawer {
  background-color: #ffffff !important;
  width: 20%;
  @include respond(phone) {
    width: 100% !important;
  }
}
.mat-list-text {
  @include respond(phone) {
    align-items: center;
  }
}

//
// .mat-toolbar {
//   position: fixed;
// }

//
